
{% macro return2post(post, text) %}
    <a class="sidebar-link" href="{{ post.url() }}">
        <div class="sidebar-item">
            <img src="{{ url_for('static', filename='images/return.svg') }}">
            {{ text }}
        </div>
    </a>
{% endmacro %}

{% macro view_solution(prob) %}
    <a class="sidebar-link"
        {% if prob.solutions %} href="{{ prob.solutions[0].url() }}" {% endif %}>
        <div class="sidebar-item">
            <img src="{{ url_for('static', filename='images/key.svg') }}">
            查看题解
        </div>
    </a>
{% endmacro %}

{% macro upload_solution(prob) %}
    <a class="sidebar-link"
            href="{{ url_for('upload_solution', probno=prob.probno) }}">
        <div class="sidebar-item">
            <img src="{{ url_for('static', filename='images/upload.svg') }}">
            上传题解
        </div>
    </a>
{% endmacro %}

{% macro edit_prob(prob) %}
    <a class="sidebar-link"
        href="{{ url_for('edit_prob', probno=prob.probno) }}">
        <div class="sidebar-item">
            <img src="{{ url_for('static', filename='images/edit.svg') }}">
            编辑题目
        </div>
    </a>
{% endmacro %}

{% macro edit_solution(solution) %}
    <a class="sidebar-link" href="{{ url_for('edit_solution',
            probno=solution.probno, solno=solution.solno) }}">
        <div class="sidebar-item">
            <img src="{{ url_for('static', filename='images/edit.svg') }}">
            编辑题解
        </div>
    </a>
{% endmacro %}

{% macro delete_prob(prob) %}
    <a class="sidebar-link" onclick="return confirm('确定要删除题目？');"
            href="{{ url_for('delete_prob', probno=prob.probno) }}">
        <div class="sidebar-item">
            <img src="{{ url_for('static',
                filename='images/delete-white.svg') }}">
            删除题目
        </div>
    </a>
{% endmacro %}

{% macro delete_solution(solution) %}
    <a class="sidebar-link"  onclick="return confirm('确定要删除题解？');"
            href="{{ url_for('delete_solution',
            probno=solution.probno, solno=solution.solno) }}">
        <div class="sidebar-item">
            <img src="{{ url_for('static',
                filename='images/delete-white.svg') }}">
            删除题解
        </div>
    </a>
{% endmacro %}
