{#
    如果要使用 `delete_prob`、`delete_solution` 宏，则需要导入 `prob-utils.js`。
#}

{%- macro return2post(post, text) -%}
    <a class="sidebar-link" href="{{ post.url() }}">
        <div class="sidebar-item"><i class="fas fa-circle-left"></i>{{ text }}</div>
    </a>
{%- endmacro -%}

{%- macro view_solution(prob) -%}
    {%- if prob.solutions -%}
        <a class="sidebar-link" target="_blank" href="{{ prob.solutions[0].url() }}">
            <div class="sidebar-item"><i class="fas fa-key"></i>查看题解</div>
        </a>
    {%- else -%}
        <a class="sidebar-link" target="_blank" href="javascript:void(0)">
            <div class="sidebar-item disabled"><i class="fas fa-ban"></i>暂无题解</div>
        </a>
    {%- endif -%}
{%- endmacro -%}

{%- macro upload_solution(prob) -%}
    <a class="sidebar-link" target="_blank" href="{{ url_for('upload_solution', probno=prob.probno) }}">
        <div class="sidebar-item"><i class="fas fa-cloud-arrow-up"></i>上传题解</div>
    </a>
{%- endmacro -%}

{%- macro edit_prob(prob) -%}
    <a class="sidebar-link" target="_blank" href="{{ url_for('edit_prob', probno=prob.probno) }}">
        <div class="sidebar-item"><i class="fas fa-pen-to-square"></i>编辑题目</div>
    </a>
{%- endmacro -%}

{%- macro edit_solution(solution) -%}
    <a class="sidebar-link" target="_blank" href="{{ url_for('edit_solution',
            probno=solution.probno, solno=solution.solno) }}">
        <div class="sidebar-item"><i class="fas fa-pen-to-square"></i>编辑题解</div>
    </a>
{%- endmacro -%}

{%- macro delete_prob(prob) -%}
    <a class="sidebar-link" data-probno="{{ prob.probno }}" href="javascript:void(0)"
        onclick="if (confirm('确定要删除题目？此操作不可撤销。')) deleteProb(this.dataset.probno);">
        <div class="sidebar-item"><i class="fas fa-trash-can"></i>删除题目</div>
    </a>
{%- endmacro -%}

{%- macro delete_solution(solution) -%}
    <a class="sidebar-link" data-probno="{{ solution.probno }}" href="javascript:void(0)"
        data-solno="{{ solution.solno }}" onclick="if (confirm('确定要删除题解？此操作不可撤销。'))
            deleteSolution(this.dataset.probno, this.dataset.solno);">
        <div class="sidebar-item"><i class="fas fa-trash-can"></i>删除题解</div>
    </a>
{%- endmacro -%}

{%- macro edit_article(article) -%}
    <a class="sidebar-link" target="_blank" href="{{ url_for('edit_article', article_id=article.id) }}">
        <div class="sidebar-item"><i class="fas fa-pen-to-square"></i>编辑专栏</div>
    </a>
{%- endmacro -%}

{%- macro delete_article(article) -%}
    <a class="sidebar-link" data-article-id="{{ article.id }}" href="javascript:void(0)"
        onclick="if (confirm('确定要删除专栏？此操作不可撤销。')) deleteArticle(this.dataset.articleId);">
        <div class="sidebar-item"><i class="fas fa-trash-can"></i>删除专栏</div>
    </a>
{%- endmacro -%}
