
{%- macro user_name(user) -%}
    {% if user %}{{ user.name }}{% else %}未知用户{% endif %}
{%- endmacro -%}

{% macro user_sidebar(user) %}
    <a class="sidebar-link" {% if user %} href="{{ user.url() }}" {% endif %}>
        <div class="sidebar-item">
            {{ user_avatar_img(user, 'avatar') }}{{ user_name(user) }}
        </div>
    </a>
{% endmacro %}

{% macro user_avatar_img(user, extra_class='') %}
    {% if user and user.avatar %}
        <img class="{{ extra_class }}"
            src="{{ url_for('avatarfile', uid=user.uid) }}">
    {% else %}<i class="fa-solid fa-user {{ extra_class }}"></i>{% endif %}
{% endmacro %}
