
body {
    background-color: rgba(0, 0, 0, 0);
}

div.navbar {
    position: fixed;
    padding-left: 0px;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: rgb(68, 154, 200);
    background-repeat: no-repeat;
}

ul.navbar-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.logo-image {
    width: 80px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

li.logo-text {
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    font-size: 35px;
    font-family: Andale Mono;
    text-decoration: none;
    color: white;
    float: left;
}

li.navbar-item {
    width: 80px;
    float: right;
    transition-duration: 500ms;
    background-color: rgba(0, 0, 0, 0);
}

li.navbar-item:hover {
    transition-duration: 500ms;
    background-color: rgba(0, 0, 127, .25);
}

a.navbar-item {
    display: block;
    width: 80px;
    height: 25px;
    background-position: 15px 5px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    padding-top: 55px;
    text-align: center;
    text-decoration: none;
    line-height: 24px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    color: white;
}

a.navbar-avatar {
    background-position: 18px 8px;
    background-size: 44px 44px;
}
