
div.navbar {
    position: fixed;
    padding-left: 0px;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: rgb(68, 154, 200);
    background-repeat: no-repeat;
}

ul.navbar-items {
    list-style: none;
    margin: 0;
    padding: 0;
    li.logo-image, li.navbar-item {
        height: 80px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        font-family: Helvetica;
        color: white;
        transition-duration: 500ms;
        background-color: rgba(0, 0, 0, 0);
    }
    li.logo-image:hover, li.navbar-item:hover {
        transition-duration: 500ms;
        background-color: rgba(0, 0, 127, .25);
        cursor: pointer;
    }
    li.logo-image {
        width: 80px;
        float: left;
        margin-right: 10px;
        padding-left: 5px;
        padding-right: 5px;
        img {
            width: 50px;
            height: 50px;
            padding-top: 5px;
        }
    }
    li.logo-text {
        display: flex;
        align-items: center;
        height: 80px;
        line-height: 80px;
        font-weight: bold;
        font-size: 35px;
        font-family: Menlo;
        text-decoration: none;
        color: white;
        float: left;
        img.avatar {
            width: 50px;
            height: 50px;
            margin-right: 15px;
            border-radius: 50%;
        }
    }
    li.navbar-item {
        width: 75px;
        float: right;
        img {
            width: 50px;
            height: 50px;
            padding-top: 3px;
        }
    }
    li.navbar-avatar img {
        width: 45px;
        height: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 50%;
    }
}
