
div.navbar {
    position: fixed;
    padding-left: 0px;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: #449AD5;
    background-repeat: no-repeat;
}

ul.navbar-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navbar-items li.logo-image, li.navbar-item {
    height: 80px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: Helvetica;
    color: white;
    transition-duration: 500ms;
}

ul.navbar-items li.logo-image:hover, li.navbar-item:hover {
    transition-duration: 500ms;
    background-color: #00008040;
    cursor: pointer;
}

ul.navbar-items li.logo-image {
    width: 80px;
    float: left;
    margin-right: 10px;
    padding: 0 5px;
}

ul.navbar-items li.logo-image img {
    width: 50px;
    height: 50px;
    padding-top: 5px;
}

ul.navbar-items li.logo-text {
    display: flex;
    align-items: center;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    font-size: 35px;
    font-family: Andale Mono;
    text-decoration: none;
    color: white;
    float: left;
}

ul.navbar-items li.logo-text img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0;
    color: white;
}

ul.navbar-items li.logo-text i {
    font-size: 45px;
    margin-right: 0;
    color: white;
}

ul.navbar-items li.logo-text i.gender {
    font-size: 20px;
    margin: 30px 15px 0 -18px;
    -webkit-text-stroke: 1px white;
}

li.navbar-item {
    width: 72px;
    float: right;
    line-height: 20px;
}

li.navbar-item img {
    width: 50px;
    height: 50px;
    padding-top: 3px;
}

li.navbar-avatar img {
    width: 45px;
    height: 45px;
    padding-top: 7px;
    border-radius: 50%;
}

li.navbar-item i {
    font-size: 36px;
    padding: 10px 0;
}
