
div.mainpart, div.bodypart, div.submitpart {
    position: fixed;
    top: 80px;
    bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 3px #00000080;
    font-family: Helvetica;
}

div.mainpart {
    left: 16%;
    width: 80%;
}

div.bodypart {
    left: 16%;
    width: 45%;
}

div.bodypart img {
    width: 100%;
}

div#bodydiv {
    display: none;
}

div.submitpart {
    left: 64%;
    width: 32%;
}

div.submitpart form.mathprobsform {
    border: none;
    padding: 0;
}

div.submitpart textarea.submittext {
    width: 100%;
    height: 80px;
}

div.submitpart h3 {
    clear: both;
}
