
div.mainpart { padding: 0; }
div.chat-container { width: 100%; height: 100%; display: flex; }

div.user-list {
    width: 200px; background: aliceblue;
    border-right: 1px solid #EEE; padding: 15px; }
div.user-item {
    display: flex; align-items: center;
    padding: 12px 10px; margin-bottom: 10px;
    border-radius: 15px; cursor: pointer; transition: .2s; }
div.user-item:hover, div.user-item.active { background: #0000F008; }
div.avatar-wrap {
    position: relative; width: 30px; height: 30px; margin-right: 5px;
    align-content: center; }
div.avatar-wrap img {
    height: 100%; max-width: 100%; border-radius: 50%; }
div.avatar-wrap i { font-size: 25px; }

div.chat-box { display: flex; flex: 1; flex-direction: column; }
div.chat-header {
    display: flex; align-items: center;
    padding: 15px; border-bottom: 1px solid #EEE; }
div.chat-header div.unread-badge { display: none !important; }
div.message-area {
    flex: 1; padding: 20px; overflow-y: auto; background: white; }
div.message-area div.message {
    display: table; margin-bottom: 15px; max-width: 60%;
    word-wrap: anywhere; padding: 8px 12px;
    border-radius: 15px; line-height: 1.5; }
div.message-area div.my-message {
    background: #4CBBEB; color: white;
    margin-left: auto; border-top-right-radius: 0; }
div.message-area div.other-message {
    background: #F1F1F1; color: #333;
    margin-right: auto; border-top-left-radius: 0; }

div.send-area { display: flex; padding: 15px; border-top: 1px solid #EEE; }
div.send-area input#messageInputElement {
    flex-grow: 1; min-width: 0; font-family: AndaleMono; font-size: 15px;
    padding: 5px 10px; line-height: 27px;
    background: aliceblue; border: none; border-radius: 18px; }
div.send-area input#messageInputElement:focus { outline-color: lightskyblue; }
div.send-area input#messageInputElement:disabled { cursor: not-allowed; }
div.send-area button {
    border: none; border-radius: 18px; background: skyblue; color: white;
    line-height: 27px; font-size: 15px; width: 120px;
    margin-left: 15px; transition: .5s; }
div.send-area button:hover {
    background: deepskyblue; cursor: pointer; transition: .5s; }
div.send-area button:disabled { background: skyblue; cursor: not-allowed; }
