
div.commentlist {
    clear: both;
    font-family: Helvetica;
    div.comment {
        clear: both;
        span.avatar, img.avatar {
            width: 36px;
            height: 36px;
            margin-top: 8px;
        }
        div.commentbody {
            float: right;
            width: calc(100% - 48px);
            margin-bottom: 10px;
            p.commentname, p.commentfoot {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 13px;
                color: gray;
            }
            p.commentfoot {
                img {
                    float: right;
                    width: 18px;
                    height: 18px;
                }
                img:hover {
                    background-color: rgb(92, 203, 226);
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
            div.commentcontent {
                margin-top: 0;
                margin-bottom: 0;
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            form {
                display: none;
                clear: both;
            }
        }
    }
    div.commentsep {
        clear: both;
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
    }
}
