
form.mathprobsform {
    border: 2px solid lightskyblue;
    border-radius: 10px; border-collapse: collapse;
    padding: 10px 15px 10px 10px; }
p.errormsg { color: #DC143C; margin: 0; }
form.mathprobsform span {
    display: flex; justify-content: flex-end;
    width: 100%; max-width: 100%; padding: 5px 3px; white-space: nowrap; }
form.mathprobsform label { vertical-align: top; }

form.mathprobsform div.label-input a {
    text-decoration: none; font-size: 15px; color: black;
    background: #D0EFFF; margin: 2px 6px 2px 0;
    border: 1px solid #D0EFFF; border-radius: 5px;
    display: inline-block; padding: 2px 4px; transition: .5s ease-out; }
form.mathprobsform div.label-input a:hover {
    transform: translateY(-.6px) scale(1.01); box-shadow: 0 3px 6px #1E40AF10;
    transition: .5s ease-out; cursor: pointer; }
form.mathprobsform div.label-input a i.delete-button {
    transition: .5s ease-out; color: #00BFFF; }
form.mathprobsform div.label-input a i.delete-button:hover {
    transition: .5s ease-out; transform: rotate(90deg); }

form.mathprobsform div.answer { flex-grow: 1; min-width: 0; }
form.mathprobsform div.answer-input { display: flex; }
form.mathprobsform div.answer-input input { margin-right: 10px; }
form.mathprobsform div.answer-input i {
    transition: .5s ease-out; transform: rotate(-90deg);
    font-size: 25px; color: #00BFFF; margin: 0; padding: 0; }
form.mathprobsform div.answer-input i:hover {
    transition: .5s ease-out; transform: rotate(0deg); cursor: pointer; }
form.mathprobsform div.answer ul {
    list-style-type: none; padding: 0;
    border: 1px solid skyblue; border-radius: 10px; }
form.mathprobsform div.answer ul li {
    display: flex; align-items: center;
    padding: 8px 16px; border-radius: inherit; font-family: AndaleMono; }
form.mathprobsform div.answer ul li:hover {
    transition: .6s ease-out; background: aliceblue; }
form.mathprobsform div.answer ul li i { font-size: 15px; margin: 0 5px; }
form.mathprobsform div.answer ul li i.minus {
    transition: .5s ease-out; font-size: 18px;
    color: #00BFFF; margin-left: auto; }
form.mathprobsform div.answer ul li i.minus:hover {
    transition: .5s ease-out; transform: rotate(90deg); cursor: pointer; }

form.mathprobsform input, form.mathprobsform textarea,
    form.mathprobsform select {
    flex-grow: 1; min-width: 0; font-family: AndaleMono; font-size: 15px;
    padding: 5px 10px; line-height: 20px;
    background: aliceblue; border: none; border-radius: 10px; }
form.mathprobsform textarea {
    min-width: 80%; min-height: 50px; height: 150px; }
form.mathprobsform textarea.tall { height: 250px; }
form.mathprobsform input:focus,
    form.mathprobsform textarea:focus,
    form.mathprobsform select:focus { outline-color: lightskyblue; }
form.mathprobsform input::file-selector-button,
    form.mathprobsform button {
    border: none; border-radius: 10px; background: skyblue; color: white;
    line-height: 27px; font-size: 15px; width: 120px; transition: .5s; }
form.mathprobsform input::file-selector-button:hover,
    form.mathprobsform button:hover {
    background: deepskyblue; cursor: pointer; transition: .5s; }
form.mathprobsform button { margin-left: 10px; }
