
table.problist {
    width: 100%;
    border: 2px solid lightskyblue;
    border-spacing: 0;
    border-radius: 7px;
}

table.problist tr {
    height: 35px;
    transition-duration: 500ms;
}

table.problist tr:nth-child(even) {
    background-color: aliceblue;
}

table.problist tr:not(.probhead):hover {
    background-color: lightblue;
    transition-duration: 500ms;
    cursor: pointer;
}

table.problist th {
    text-align: left;
    background-color: lightskyblue;
}

table.problist td, table.problist th {
    border: none;
}

table.problist td.probno {
    width: 10%;
    transition-duration: 500ms;
    font-family: Andale Mono;
}

table.problist td.problabels {
    width: 30%;
}

table.problist td.source {
    width: 15%;
}

table.problist td.soluser {
    width: 40%;
}

table.problist td.source, table.problist td.soluser {
    transition-duration: 500ms;
}

table.problist td.source div, table.problist td.soluser div {
    display: flex;
    align-items: center;
}

table.problist td.source div img, table.problist td.soluser div img {
    height: 25px;
    margin-right: 5px;
}

table.problist td.probno:hover, table.problist td.source:hover,
    table.problist td.soluser:hover {
    background-color: skyblue;
    transition-duration: 500ms;
    cursor: pointer;
}

table.problist a.problabel {
    text-decoration: none;
    color: black;
    border: 1px solid paleturquoise;
    border-radius: 5px;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    transition-duration: 500ms;
}

table.problist a.problabel:hover {
    background-color: paleturquoise;
    transition-duration: 500ms;
    cursor: pointer;
}

table.labellist {
    width: 100%;
    border: 2px solid lightskyblue;
    border-spacing: 0;
    border-radius: 7px;
}

table.labellist tr {
    height: 35px;
}

table.labellist td {
    text-align: center;
    transition-duration: 500ms;
}

table.labellist td:hover {
    background-color: lightskyblue;
    cursor: pointer;
    transition-duration: 500ms;
}
