
table.problist {
    width: 100%;
    border: 2px solid lightskyblue;
    border-spacing: 0;
    border-radius: 7px;
    tr {
        height: 35px;
        transition-duration: 500ms;
    }
    tr:nth-child(even) {
        background-color: aliceblue;
    }
    tr:not(.probhead):hover {
        background-color: lightblue;
        transition-duration: 500ms;
        cursor: pointer;
    }
    th {
        text-align: left;
        background-color: lightskyblue;
    }
    td, th {
        border: none;
    }
    td.probno {
        width: 10%;
        transition-duration: 500ms;
        font-family: Andale Mono;
    }
    td.problabels {
        width: 30%;
    }
    td.source {
        width: 15%;
    }
    td.soluser {
        width: 40%;
    }
    td.source, td.soluser {
        transition-duration: 500ms;
        div {
            display: flex;
            align-items: center;
            img {
                height: 25px;
                margin-right: 5px;
            }
        }
    }
    td.probno:hover, td.source:hover, td.soluser:hover {
        background-color: skyblue;
        transition-duration: 500ms;
    }
    a.problabel {
        text-decoration: none;
        color: black;
        border: 1px solid paleturquoise;
        border-radius: 5px;
        display: inline-block;
        padding-left: 3px;
        padding-right: 3px;
        transition-duration: 500ms;
    }
    a.problabel:hover {
        background-color: paleturquoise;
        transition-duration: 500ms;
        cursor: pointer;
    }
}
