
div.sidebar {
    position: fixed;
    top: 80px;
    left: 0px;
    background-color: #5CCBE2;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 0px;
    width: 16%;
    height: 100%;
    overflow-y: auto;
    font-family: Helvetica;
}

h3.sidebar-title {
    color: aliceblue;
    text-align: right;
}

a.sidebar-link {
    text-decoration: none;
}

div.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: right;
    line-height: 35px;
    color: white;
    margin-top: 7px;
    padding-right: 10px;
    cursor: pointer;
    background-color: #00008019;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition-duration: 500ms;
}

div.sidebar-item img {
    width: 27px;
    height: 27px;
    margin-right: 3px;
}

div.sidebar-item img.avatar {
    border-radius: 50%;
}

div.sidebar-item:hover {
    transition-duration: 500ms;
    background-color: #0000C033;
    cursor: pointer;
}
