<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml"
        href="{{ url_for('static', filename='images/favicon.svg') }}">
    <script src="{{ url_for('static', filename='katex.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='markdown-it.min.js') }}"></script>
    <script src="{{ url_for('static', filename='texmath.min.js') }}"></script>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='katex.min.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='texmath.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <ul class="navbar-items">
            <li class="logo-image">
                <a class="navbar-item navbar-avatar" href="#"
                    style="background-image: url({{ url_for('static',
                        filename='images/favicon.svg') }});">
                    MathProbs
                </a>
            </li>
            <li id="title-text" class="logo-text">
                {% block navbar_title %}{% endblock %}
            </li>
            <li class="navbar-item">
                <a class="navbar-item" href="#" style="background-image:
                    url({{ url_for('static', filename='images/help.svg') }});">
                    帮助
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-item" href="#" style="background-image:
                    url({{ url_for('static', filename='images/labels.svg') }});">
                    标签
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-item" href="{{ url_for('problist') }}"
                    style="background-image: url({{ url_for('static',
                        filename='images/library.svg') }});">
                    题集
                </a>
            </li>
            <li class="navbar-item">
                {% if current_user.is_authenticated %}
                <a class="navbar-item navbar-avatar" href="/welcome"
                    style="background-image: url({{ url_for('avatarfile',
                        uid=current_user.uid) }})">
                    {{ current_user.name }}
                </a>
                {% else %}
                <a class="navbar-item navbar-avatar" href="/login"
                    style="background-image:
                    url({{ url_for('static', filename='images/avatar.svg') }})">
                    未登录
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
    {% block body %}{% endblock %}
</body>
</html>
