{% from "includes/users.html" import user_avatar_img %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml"
        href="{{ url_for('static', filename='images/favicon.svg') }}">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.33/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@14.1.1/dist/markdown-it.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it-texmath@1.0.0/texmath.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.33/dist/katex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/markdown-it-texmath@1.0.0/css/texmath.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {{ moment.include_moment(local_js='https://cdn.jsdelivr.net/npm/moment@2.30.1/min/moment-with-locales.min.js') }}
    {{ moment.locale('zh-cn') }}
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <ul class="navbar-items">
            <li class="logo-image">
                <img src="{{ url_for('static',
                    filename='images/favicon.svg') }}"><br>MathProbs
            </li>
            <li id="title-text" class="logo-text">
                {% block navbar_title %}{% endblock %}
            </li>
            <li class="navbar-item">
                <i class="fa-solid fa-circle-info"></i><br>帮助
            </li>
            <li class="navbar-item"
                    onclick="location.href = '{{ url_for('labellist') }}'">
                <i class="fa-solid fa-tags"></i><br>标签
            </li>
            <li class="navbar-item"
                    onclick="location.href = '{{ url_for('problist') }}'">
                <i class="fa-solid fa-book"></i><br>题集
            </li>
            {% if current_user and current_user.is_authenticated %}
                <li class="navbar-item" onclick="location.href
                    = '{{ url_for('unread_comments') }}'">
                    {% set unread_comments = current_user.unread_comments() %}
                    {% if unread_comments %}
                        <i class="fa-solid fa-envelope"></i>
                        <br>{{ unread_comments.__len__() }}条未读
                    {% else %}
                        <i class="fa-solid fa-envelope-circle-check"></i>
                        <br>无未读
                    {% endif %}
                </li>
            {% endif %}
            <li class="navbar-item navbar-avatar" onclick="location.href
                    = '{{ url_for('welcome') }}'">
                {% if current_user and current_user.is_authenticated %}
                    {{ user_avatar_img(current_user) }}
                    <br>{{ current_user.name }}
                {% else %}
                    <i class="fa-solid fa-user"></i><br>未登录
                {% endif %}
            </li>
        </ul>
    </div>
    {% block body %}{% endblock %}
</body>
</html>
