<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml"
        href="{{ url_for('static', filename='images/favicon.svg') }}">
    <script src="{{ url_for('static', filename='katex.min.js') }}"></script>
    <script
        src="{{ url_for('static', filename='markdown-it.min.js') }}"></script>
    <script src="{{ url_for('static', filename='texmath.min.js') }}"></script>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='katex.min.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='texmath.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <ul class="navbar-items">
            <li class="logo-image">
                <img src="{{ url_for('static',
                    filename='images/favicon.svg') }}"><br>MathProbs
            </li>
            <li id="title-text" class="logo-text">
                {% block navbar_title %}{% endblock %}
            </li>
            <li class="navbar-item">
                <img src="{{ url_for('static', filename='images/help.svg') }}">
                <br>帮助
            </li>
            <li class="navbar-item">
                <img src="{{ url_for('static', filename='images/labels.svg') }}">
                <br>标签
            </li>
            <li class="navbar-item"
                    onclick="location.href = '{{ url_for('problist') }}'">
                <img src="{{ url_for('static',
                    filename='images/library.svg') }}"><br>题集
            </li>
            <li class="navbar-item navbar-avatar" onclick="location.href
                    = '{{ url_for('welcome') }}'">
                {% if current_user and current_user.is_authenticated %}
                    <img src="{{ url_for('avatarfile', uid=current_user.uid) }}">
                    <br>{{ current_user.name }}
                {% else %}
                    <img src="{{ url_for('static',
                        filename='images/avatar.svg') }}"><br>未登录
                {% endif %}
            </li>
        </ul>
    </div>
    {% block body %}{% endblock %}
</body>
</html>
