{% extends "base.html" %}
{% from "includes/users.html" import user_name %}
{% if view_comments %}
    {% from "includes/comment.html" import commentdiv with context %}
{% endif %}

{% set all_chats = current_user.all_chats() %}

{% block load_markdown %}
    {%- if view_comments -%}{{- super() -}}{%- endif -%}
{% endblock %}

{% block title %}私信聊天 - MathProbs{% endblock %}

{% block static_files %}
{%- if view_comments -%}
    <link rel="stylesheet" href="{{- url_for('static', filename='comment.css') -}}">
    <link rel="stylesheet" href="{{- url_for('static', filename='formstyle.css') -}}">
    {{- moment.include_moment(local_js='https://fastly.jsdelivr.net/npm/moment@2.30.1/min/moment-with-locales.min.js') -}}
    {{- moment.locale('zh-cn') -}}
    <script src="{{ url_for('static', filename='md-render.js') }}"></script>
    <script src="{{ url_for('static', filename='comment-utils.js') }}"></script>
{%- endif -%}
<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
<script src="{{ url_for('static', filename='chat-utils.js') }}"></script>
<script src="{{ url_for('static', filename='user-utils.js') }}"></script>
{% endblock %}

{% block navbar_title %}私信聊天{% endblock %}

{% block body %}
<div class="sidebar">
    <a class="sidebar-link" href="{{ url_for('welcome') }}">
        <div class="sidebar-item">
            <i class="fa-solid fa-circle-left"></i>返回主页
        </div>
    </a>
    <a class="sidebar-link" target="_blank" href="{{ url_for('edit_profile') }}">
        <div class="sidebar-item">
            <i class="fa-solid fa-user-pen"></i>修改信息
        </div>
    </a>
    <a class="sidebar-link" href="javascript:void(0)"
            onclick="userLogout(); return false;">
        <div class="sidebar-item">
            <i class="fa-solid fa-right-from-bracket"></i>退出登录
        </div>
    </a>
</div>
<div class="mainpart">
    <div class="chat-container">
        <div class="user-list">
            {%- if view_comments -%}
                <div class="user-item active" id="viewCommentsItem">
                    <div class="avatar-wrap">
                        <i class="fa-solid fa-envelope"></i>
                    </div>未读评论
                </div>
            {%- endif -%}
            {%- set ns = namespace(active=False) -%}
            {%- for uid in all_chats -%}
                {%- set user = find_user(uid) -%}
                {%- if activeuser and uid == activeuser.uid -%}
                    {%- set ns.active = True -%}
                {%- endif -%}
                <div class="user-item {% if
                    activeuser and uid == activeuser.uid -%}active{% endif %}"
                    onclick="switchUser(this, {{ uid }})">
                    <div class="avatar-wrap">
                        {{- user_avatar_img(user) -}}
                        {%- if all_chats[uid].unread -%}
                            <div class="unread-badge">
                                {{- all_chats[uid].unread | tojson -}}
                            </div>
                        {%- else -%}
                            <div class="unread-badge" style="display: none">
                            </div>
                        {%- endif -%}
                    </div>
                    {{- user_name(user) -}}
                </div>
            {%- endfor -%}
            {%- if activeuser and not ns.active -%}
                <div class="user-item active"
                    onclick="switchUser(this, {{ activeuser.uid }})">
                    <div class="avatar-wrap">
                        {{- user_avatar_img(activeuser) -}}
                    </div>{{- user_name(activeuser) -}}
                </div>
            {%- elif not all_chats -%}
                <p class="helpslink">暂无私信对象，前往其他用户的主页添加私信。</p>
            {%- endif -%}
        </div>
        <div class="chat-box">
            {%- if view_comments -%}
                <div class="chat-header" id="messageAreaTitle">未读评论</div>
                <div class="message-area" id="messageArea">
                    {%- set unread_sections = current_user.unread_comment_sections() -%}
                    <div class="comment-section">
                        <h3>回复我的评论</h3>
                        {%- if unread_sections.replies -%}
                            <div class="commentlist">
                                {%- for comment in unread_sections.replies -%}
                                    {{- commentdiv(comment, with_post=True) -}}
                                    <div class="commentsep"></div>
                                {%- endfor -%}
                            </div>
                        {%- else -%}<p>暂无回复我的评论。</p>{%- endif -%}
                    </div>
                    <div class="comment-section">
                        <h3>我上传的题目评论</h3>
                        {%- if unread_sections.prob_comments -%}
                            <div class="commentlist">
                                {%- for comment in unread_sections.prob_comments -%}
                                    {{- commentdiv(comment, with_post=True, secondlevel=True) -}}
                                    <div class="commentsep"></div>
                                {%- endfor -%}
                            </div>
                        {%- else -%}<p>暂无题目评论。</p>{%- endif -%}
                    </div>
                    <div class="comment-section">
                        <h3>我上传的题解评论</h3>
                        {%- if unread_sections.solution_comments -%}
                            <div class="commentlist">
                                {%- for comment in unread_sections.solution_comments -%}
                                    {{- commentdiv(comment, with_post=True, secondlevel=True) -}}
                                    <div class="commentsep"></div>
                                {%- endfor -%}
                            </div>
                        {%- else -%}<p>暂无题解评论。</p>{%- endif -%}
                    </div>
                    {% do current_user.update_cmtlastvisit() %}
                </div>
            {%- else -%}
                <div class="chat-header" id="messageAreaTitle">
                    {%- if activeuser -%}
                        <div class="avatar-wrap">
                            {{- user_avatar_img(activeuser) -}}
                        </div>{{- user_name(activeuser) -}}
                    {%- else -%}消息列表{%- endif -%}
                </div>
                <div class="message-area" id="messageArea"></div>
            {%- endif -%}
            <div class="send-area{% if view_comments %} hidden{% endif %}"
                id="messageSenderArea">
                <input type="text" name="message" id="messageInputElement"
                    placeholder="输入消息……" autocomplete="off"
                    {%- if not activeuser -%}disabled{%- endif -%}>
                <input type="hidden" name="target" id="target"
                    {%- if activeuser -%}value="{{ activeuser.uid }}"{%- endif -%}>
                <button type="button" id="messageSenderButton" onclick="sendMessage()"
                    {%- if not activeuser -%}disabled{%- endif -%}>发送</button>
            </div>
        </div>
    </div>
</div>
<script>
    allChats = {{ all_chats | tojson }};
    currentUid = {{ current_user.uid | tojson }};
    {%- if activeuser -%}
        document.addEventListener('DOMContentLoaded', () => {
            addMessages(allChats[{{ activeuser.uid | tojson }}].messages); });
    {%- endif -%}
    {%- if view_comments -%}
        renderElements([...document.getElementsByClassName('commentcontent')]);
    {%- endif -%}
</script>
{% endblock %}
