{% extends "base.html" %}
{% from "includes/problabels.html" import problabels_sidebar %}
{% from "includes/sidebar.html" import return2post, delete_prob %}

{% block title %}编辑题目 - MathProbs{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blocks.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='md-preview.css') }}">
<script src="{{ url_for('static', filename='md-render.js') }}"></script>
<script src="{{ url_for('static', filename='edit-prob.js') }}"></script>
{% endblock %}

{% block navbar_title %}问题{{ prob.probno }} —— 编辑题目{% endblock %}

{% block body %}
<div class="sidebar">
    {{ return2post(prob, "返回题目") }}
    {{ delete_prob(prob) }}
    {{ problabels_sidebar(prob) }}
<div class="mainpart">
    <h3>编辑题目</h3>
    <form class="mathprobsform" id="editform" method="post"
            action="{{ url_for('edit_prob', probno=prob.probno) }}"
            enctype="multipart/form-data">
        {% if error %}<p class="errormsg">错误：{{ error }}</p>{% endif %}
        <span>
            <label for="probtitle">名称：</label>
            <input type="text" id="probtitle" name="probtitle"
                spellcheck="false" autocomplete="off"
                value="{{ prob.probtitle }}" required>
        </span>
        <span>
            <label for="problabels">标签：</label>
            <input type="text" id="problabels" name="problabels"
                autocomplete="off" value="{{ list2csv(prob.as_labelnames()) }}"
                spellcheck="false" placeholder="输入题目标签，以CSV格式">
        </span>
        <span>
            <label for="statement">描述：</label>
            <textarea id="statement" name="statement"
                placeholder="以Markdown格式输入题面" spellcheck="false"
                required>{{ prob.statement }}</textarea>
        </span>
        <span>
            <label for="answer">答案：</label>
            <div class="answer">
                <div class="answer-input">
                    <input type="text" id="context" name="context"
                        autocomplete="off" spellcheck="false" 
                        placeholder="以JSON格式输入各变量，无变量则此项置空或填{}">
                    <input type="text" id="answer" name="answer"
                        autocomplete="off" spellcheck="false"
                        placeholder="输入答案">
                    <img onclick="addAnswerHTML(context, answer);"
                        src="{{ url_for('static',
                            filename='images/plus.svg') }}">
                </div>
                <ul id="ulanswerlist"></ul>
            </div>
        </span>
        <span>
            <label for="imgfiles">更多图片：</label>
            <input type="file" id="imgfiles" name="imgfiles"
                formenctype="multipart/form-data" accept="image/*" multiple>
        </span>
        <span>
            <button type="button" onclick="renderElement(
                mdpreview, statement.value, 'block');">预览</button>
            <button onclick="submitFormWithAnswers();">上传</button>
        </span>
    </form>
    <h3>预览区</h3>
    <div class="mdpreview" id="mdpreview"></div>
</div>
<script>
    var imageMinus = '{{ url_for('static', filename='images/minus.svg') }}';
    addAnswersBefore({{ prob.get_answer() | tojson }});
</script>
{% endblock %}
