{% extends "base.html" %}

{% block load_markdown %}{% endblock %}

{% block title %}帮助列表 - MathProbs{% endblock %}

{% block navbar_title %}帮助列表{% endblock %}

{% block body %}
<aside>
    <h3>帮助列表</h3>
    <a class="sidebar-link" href="{{ url_for('welcome') }}">
        <div class="sidebar-item">
            <i class="fa-solid fa-circle-left"></i>返回主页
        </div>
    </a>
</aside>
<article class="main-article">
    <p><b>以下是可用的帮助页面：</b></p>
    <nav class="table-of-contents"><ul>
        {%- for howto, title in helplist -%}
            <li><a target="_blank" href="{{ url_for('helps', howto=howto) }}">
                {{- title -}}
            </a></li>
        {%- endfor -%}
    </ul></nav>
</article>
{% endblock %}
