{% extends "base.html" %}

{% block load_markdown %}{% endblock %}

{% block title %}题目标签 - MathProbs{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='problist.css') }}">
{% endblock %}

{% block navbar_title %}题目标签{% endblock %}

{% block body %}
<aside>
    <h3>题目标签</h3>
</aside>
<article class="main-article">
    <h3>所有标签</h3>
    <table class="labellist">
        {%- for i in range(0, labels|length, 5) -%}
            <tr>
                {%- for dif in range(5) -%}
                    {%- if i + dif < labels|length -%}
                        <td data-url="{{ labels[i + dif].url() }}"{{-''-}}
                            onclick="window.open(this.dataset.url);">
                            {{- labels[i + dif].labelname -}}
                        </td>
                    {%- endif -%}
                {%- endfor -%}
            </tr>
        {%- endfor -%}
    </table>
</article>
{% endblock %}
