{% extends "form.html" %}

{% block title %}登录 - MathProbs{% endblock %}

{% block form %}
<form class="mathprobsform" action="{{ url_for('login') }}" method="post">
    <h3>登录</h3>
    {% if error %}<p class="errormsg">错误：{{ error }}</p>{% endif %}
    <span>
        <label for="username">用户名：</label>
        <input id="username" name="username" type="text"
            spellcheck="false" placeholder="请输入用户名"
            autocomplete="username" required>
    </span>
    <span>
        <label for="password">密码：</label>
        <input id="password" name="password" type="password"
            spellcheck="false" placeholder="请输入密码"
            autocomplete="current-password" required>
    </span>
    <span><button type="submit">登录</button></span>
    <p style="font-size: 11px; color: gray;">
        初次进入需要加载CDN，可能速度较慢，请耐心等待
    </p>
</form>
{% endblock %}

{% block right_block %}
<h2>没有账号？</h2>
<p>立即注册</p>
<a href="{{ url_for('register') }}">
    <button class="register" type="button">注册</button>
</a>
<h2>不想登录或注册？</h2>
<p>直接看题</p>
<a href="{{ url_for('problist') }}">
    <button class="register" type="button">题集</button>
</a>
{% endblock %}
