{% extends "base.html" %}
{% from "includes/problist.html" import problist %}

{% block load_markdown %}{% endblock %}

{% block title %}
{%- if oflabel -%}标签：{{- labelname }} {% else -%}题集 {% endif -%}
- MathProbs
{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='problist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}">
{% endblock %}

{% block navbar_title %}
{%- if oflabel -%}标签：{{- labelname -}}{%- else -%}题集{%- endif -%}
{% endblock %}

{% block body %}
<div class="sidebar">
    {%- if oflabel -%}
        <h3 class="sidebar-title">题目标签</h3>
        <a class="sidebar-link" href="{{ url_for('labellist') }}">
            <div class="sidebar-item">
                <i class="fa-solid fa-tags"></i>所有标签
            </div>
        </a>
    {%- else -%}
        <h3 class="sidebar-title">MathProbs题集</h3>
        {%- if current_user.is_authenticated and current_user.isadmin -%}
            {%- if reviewmode -%}
                <a class="sidebar-link" href="{{ url_for('problist') }}">
                    <div class="sidebar-item">
                        <i class="fa-solid fa-book"></i>普通模式
                    </div>
                </a>
            {%- else -%}
                <a class="sidebar-link" href="{{ url_for(
                    'problist', reviewmode=True) }}">
                    <div class="sidebar-item">
                        <i class="fa-solid fa-book-open-reader"></i>审核模式
                    </div>
                </a>
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
</div>
<div class="bodypart">
    <h3>{% if query %}满足条件的{% else %}所有{% endif %}题目</h3>
    {%- if not probs.first() -%}<p>暂无</p>
    {%- elif reviewmode -%}
        {{- problist(probs, with_review_status=True) -}}
    {%- else -%}{{- problist(probs) -}}{%- endif -%}
</div>
<div class="submitpart">
    <h3>查询题目</h3>
    <form class="mathprobsform" method="post" action="{% if oflabel %}
                {{ url_for('problistoflabel', labelname=labelname) }}
            {% else %}{{ url_for('problist',
                reviewmode=True if reviewmode else False) }}{% endif %}">
        <span>
            <label for="probNo">编号：</label>
            <input type="text" id="probNo" name="probno" autocomplete="off"
                value="{{ form.get('probno', '') }}" spellcheck="false"
                placeholder="查询特定编号的题目">
        </span>
        <span>
            <label for="probTitle">名称：</label>
            <input type="text" id="probTitle" name="probtitle"
                autocomplete="off" spellcheck="false"
                value="{{ form.get('probtitle', '') }}"
                placeholder="查询标题中含有指定文本的题目">
        </span>
        <span>
            <label for="statement">内容：</label>
            <input type="text" id="statement" name="statement"
                autocomplete="off" spellcheck="false"
                value="{{ form.get('statement', '') }}"
                placeholder="查询内容中含有指定文本的题目">
        </span>
        <span>
            <label for="probLabels">标签：</label>
            <input type="text" id="probLabels" name="problabels"
                autocomplete="off" spellcheck="false"
                placeholder="输入题目标签，以CSV格式"
                value="{{ form.get('problabels', '') }}">
        </span>
        <span>
            <label for="source">来源：</label>
            <input type="text" id="source" name="source" autocomplete="off"
                placeholder="输入用户名称，以CSV格式" spellcheck="false"
                value="{{ form.get('source', '') }}">
        </span>
        {%- if reviewmode -%}
            <span>
                <label for="reviewStatus">状态：</label>
                <select id="reviewStatus" name="review_status">
                    <option value="all">所有题目</option>
                    <option value="toreview">待审核的题目</option>
                    <option value="accepted">已通过的题目</option>
                    <option value="rejected">已拒绝的题目</option>
                </select>
            </span>
        {%- endif -%}
        <span>
            <label for="probType">类型：</label>
            <select id="probType" name="probtype">
                <option value="all">所有题目</option>
                <option value="officialprobs">仅官方题目</option>
                <option value="noofficialprobs">仅非官方题目</option>
            </select>
        </span>
        <span><button type="submit">查询</button></span>
    </form>
</div>
<script>
    {%- if form.get('probtype') -%}
        probType.value = ({{ form['probtype']|tojson }}).toString();
    {%- endif -%}
    {%- if form.get('review_status') -%}
        reviewStatus.value = ({{ form['review_status']|tojson }}).toString();
    {%- endif -%}
</script>
{% endblock %}
