{% extends "base.html" %}
{% from "includes/problabels.html" import problabels_sidebar %}
{% from "includes/users.html" import user_sidebar %}
{% from "includes/comment.html" import commentarea with context %}
{% from "includes/sidebar.html"
    import edit_prob, delete_prob, view_solution, upload_solution %}

{% block title %}问题{{ prob.probno }} - MathProbs{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blocks.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='comment.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}">
<script src="{{ url_for('static', filename='md-render.js') }}"></script>
<script src="{{ url_for('static', filename='delete-comment.js') }}"></script>
{% endblock %}

{% block navbar_title %}问题{{ prob.probno }} {{ prob.probtitle }}{% endblock %}

{% block body %}
<div class="sidebar">
    {% if current_user == prob.source %}
        {{ edit_prob(prob) }}
        {{ delete_prob(prob) }}
    {% endif %}
    {{ view_solution(prob) }}
    {{ upload_solution(prob) }}
    {{ problabels_sidebar(prob) }}
    <h3 class="sidebar-title">题目来源</h3>{{ user_sidebar(prob.source) }}
</div>
<div id="bodydiv" class="bodypart">
    <textarea id="bodytext">{{ prob.statement }}</textarea>
</div>
<div id="submitdiv" class="submitpart">
    <h3>提交答案</h3>
    <p style="font-size: 11px; color: gray;">
        服务器网络不稳定，如遇超时、答案无法解析等问题，尝试多提交几次。
    </p>
    <form id="answerform" class="mathprobsform" method="POST"
        action="{{ url_for('submit', probno=prob.probno) }}">
        <span><textarea name="answertext" class="submittext"
            placeholder="按照要求提交答案" spellcheck="false"></textarea></span>
        <span><button class="submitbutton" type="submit">提交</button></span>
    </form>
    <h3>讨论区</h3>
    {{ commentarea('prob', prob.probno, prob.get_toplevel_comments()) }}
</div>
<script src="{{ url_for('static', filename='cmtform-onclick.js') }}"></script>
<script>
    renderElements([
        bodydiv, ...document.getElementsByClassName('commentcontent')]);
</script>
{% endblock %}
