{% extends "base.html" %}
{% from "includes/problist.html" import problist %}

{% block title %}题集 - MathProbs{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blocks.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='problist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}">
{% endblock %}

{% block navbar_title %}
    {% if oflabel %}标签：{{ labelname }}
    {% else %}题集{% endif %}
{% endblock %}

{% block body %}
<div class="sidebar">
    {% if oflabel %}
        <h3 class="sidebar-title">题目标签</h3>
        <a class="sidebar-link" href="{{ url_for('labellist') }}">
            <div class="sidebar-item">
                <img src="{{ url_for('static', filename='images/labels.svg') }}">
                所有标签
            </div>
        </a>
    {% else %}<h3 class="sidebar-title">MathProbs题集</h3>{% endif %}
</div>
<div class="mainpart">
    <h3>查询题目</h3>
    <form class="mathprobsform" method="post" action="{% if oflabel %}
                {{ url_for('problistoflabel', labelname=labelname) }}
            {% else %}{{ url_for('problist') }}{% endif %}">
        <span><label for="probno">编号：</label>
        <input type="text" id="probno" name="probno" autocomplete="off"
            value="{{ form.get('probno', '') }}" spellcheck="false"
            placeholder="查询特定编号的题目"></span>
        <span><label for="probtitle">名称：</label>
        <input type="text" id="probtitle" name="probtitle" autocomplete="off"
            value="{{ form.get('probtitle', '') }}" spellcheck="false"
            placeholder="查询标题中含有指定文本的题目"></span>
        <span><label for="statement">内容：</label>
        <input type="text" id="statement" name="statement" autocomplete="off"
            value="{{ form.get('statement', '') }}" spellcheck="false"
            placeholder="查询内容中含有指定文本的题目"></span>
        <span><label for="problabels">标签：</label>
        <input type="text" id="problabels" name="problabels" autocomplete="off"
            placeholder="输入题目标签，以CSV格式" spellcheck="false" 
            value="{{ form.get('problabels', '') }}"></span>
        <span><label for="source">来源：</label>
        <input type="text" id="source" name="source" autocomplete="off"
            placeholder="输入用户名称，以CSV格式" spellcheck="false" 
            value="{{ form.get('source', '') }}"></span>
        <span><button type="submit">查询</button></span>
    </form>
    <h3>{% if query %}满足条件的{% else %}所有{% endif %}题目</h3>
    {% if probs.first() %}{{ problist(probs) }}{% else %}<p>暂无</p>{% endif %}
</div>
{% endblock %}
