{% extends "base.html" %}
{% from "includes/problabels.html" import problabels_sidebar %}
{% from "includes/solutionlist.html" import solutionlist %}
{% from "includes/users.html" import user_sidebar %}
{% from "includes/comment.html" import commentarea with context %}
{% from "includes/sidebar.html"
    import return2post, edit_solution, delete_solution %}

{% block title %}问题{{ prob.probno }}的题解 - MathProbs{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blocks.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='problist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='comment.css') }}">
<script src="{{ url_for('static', filename='delete-comment.js') }}"></script>
{% endblock %}

{% block navbar_title %}
问题{{ prob.probno }} —— 题解：{{ solution.title }}
{% endblock %}

{% block body %}
<div class="sidebar">
    {{ return2post(prob, "返回题目") }}
    {% if current_user == solution.user %}
        {{ edit_solution(solution) }}
        {{ delete_solution(solution) }}
    {% endif %}
    {{ problabels_sidebar(prob) }}
    <h3 class="sidebar-title">题目来源</h3>{{ user_sidebar(prob.source) }}
    <h3 class="sidebar-title">题解来源</h3>{{ user_sidebar(solution.user) }}
</div>
<div id="bodydiv" class="bodypart">
    <textarea id="bodytext">{{ solution.content }}</textarea>
</div>
<div id="submitdiv" class="submitpart">
    <h3>更多题解</h3>{{ solutionlist(suggested) }}
    <h3>讨论区</h3>
    {{ commentarea('solution', solution.get_post_ident(),
        solution.get_toplevel_comments()) }}
</div>
<script src="{{ url_for('static', filename='cmtform-onclick.js') }}"></script>
<script>
    var toRender = [
        bodydiv, ...document.getElementsByClassName('commentcontent')];
</script>
<script src="{{ url_for('static', filename='md-render.js') }}"></script>
{% endblock %}
