{% extends "base.html" %}
{% from "includes/problabels.html" import problabels_sidebar %}
{% from "includes/tables.html" import solutionlist %}
{% from "includes/users.html" import user_sidebar %}
{% from "includes/comment.html" import commentarea with context %}
{% from "includes/sidebar.html"
    import return2post, upload_solution, edit_solution, delete_solution %}

{% block title %}问题{{ prob.probno }}的题解 - MathProbs{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='problist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='comment.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}">
{{- moment.include_moment(local_js='https://fastly.jsdelivr.net/npm/moment@2.30.1/min/moment-with-locales.min.js') -}}
{{- moment.locale('zh-cn') -}}
<script src="{{ url_for('static', filename='md-render.js') }}"></script>
<script src="{{ url_for('static', filename='prob-utils.js') }}"></script>
<script src="{{ url_for('static', filename='comment-utils.js') }}"></script>
{% endblock %}

{% block navbar_title %}
{{ prob.probno }} — 题解：{{ solution.title }}
{% endblock %}

{% block body %}
<aside>
    {{- return2post(prob, "返回题目") -}}
    {{- upload_solution(prob) -}}
    {%- if current_user == solution.user or current_user.isadmin -%}
        {{- edit_solution(solution) -}}{{- delete_solution(solution) -}}
    {%- endif -%}
    {{- problabels_sidebar(prob) -}}
    <h3>题目来源</h3>{{- user_sidebar(prob.source) -}}
    <h3>题解来源</h3>{{- user_sidebar(solution.user) -}}
</aside>
<article id="contentContainer" class="markdown-body body-article">
    <textarea id="bodyText">{{ solution.content }}</textarea>
</article>
<article class="right-side-article">
    <h3>更多题解</h3>{{- solutionlist(suggested) -}}
    <h3>讨论区</h3>
    {{- commentarea(1, solution.get_post_ident(),
        solution.get_toplevel_comments()) -}}
</article>
<script>
    const markdownImageBasePath = "/images/{{ prob.probno|urlencode }}/";
    renderElements([
        contentContainer, ...document.getElementsByClassName('comment-content')],
        markdownImageBasePath);
</script>
{% endblock %}
