{% extends "base.html" %}
{% from "includes/problabels.html" import problabels_sidebar %}
{% from "includes/users.html" import user_sidebar %}
{% from "includes/comment.html" import commentarea with context %}

{% block title %}问题{{ prob.probno }}的题解 - MathProbs{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blocks.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='problist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='comment.css') }}">
<script src="{{ url_for('static', filename='delete-comment.js') }}"></script>
{% endblock %}

{% block navbar_title %}
问题{{ prob.probno }} —— 题解：{{ solution.title }}
{% endblock %}

{% block body %}
<div class="sidebar">
    <a class="sidebar-link" href="{{ url_for('probs', probno=prob.probno) }}">
        <div class="sidebar-item">
            <img src="{{ url_for('static', filename='images/return.svg') }}">
            返回题目
        </div>
    </a>
    {% if current_user == solution.user %}
        <a class="sidebar-link" href="{{ url_for('edit_solution',
                probno=prob.probno, solno=solution.solno) }}">
            <div class="sidebar-item">
                <img src="{{ url_for('static', filename='images/edit.svg') }}">
                编辑题解
            </div>
        </a>
    {% endif %}
    {{ problabels_sidebar(prob) }}
    <h3 class="sidebar-title">题目来源</h3>{{ user_sidebar(prob.source) }}
    <h3 class="sidebar-title">题解来源</h3>{{ user_sidebar(solution.user) }}
</div>
<div id="bodydiv" class="bodypart">
    <textarea id="bodytext">{{ solution.content }}</textarea>
</div>
<div id="submitdiv" class="submitpart">
    <h3>更多题解</h3>
    {% if suggested %}
        <table class="problist">
            {% for solution_sug in suggested %}
                <tr onclick="location.href = '{{ url_for('solutions',
                            probno=prob.probno, solno=solution_sug.solno) }}'">
                    <td>{{ solution_sug.title }}</td>
                    <td style="width: 40%">{{ solution_sug.user.name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}<p>暂无</p>{% endif %}
    <h3>讨论区</h3>
    {{ commentarea('solution', solution.get_post_ident(),
        solution.get_toplevel_comments()) }}
</div>
<script src="{{ url_for('static', filename='cmtform-onclick.js') }}"></script>
<script>
    var toRender = [
        bodydiv, ...document.getElementsByClassName('commentcontent')];
</script>
<script src="{{ url_for('static', filename='md-render.js') }}"></script>
{% endblock %}
