{% extends "base.html" %}

{% block title %}问题{{ prob.probno }}的题解 - MathProbs{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/sidebar.css">
<link rel="stylesheet" type="text/css" href="/static/blocks.css">
{% endblock %}

{% block navbar_title %}{{ prob.probno }}的题解 —— {{ soltitle }}{% endblock %}

{% block body %}
<div class="sidebar">
    {% set problabels = jsonloads(prob.problabels) %}
    {% if problabels %}
    <h3 class="sidebar-title">题目标签</h3>
    {% for label in problabels %}
    <div class="sidebar-item">{{ label }}</div>
    {% endfor %}{% endif %}
    {% set source = find_user(prob.source) %}
    {% if source %}
    <h3 class="sidebar-title">题目来源</h3>
    <div class="sidebar-item">{{ source.name }}</div>
    {% endif %}
    <h3 class="sidebar-title">题解来源</h3>
    <div class="sidebar-item">{{ username }}</div>
</div>
<div id="bodydiv" class="bodypart">
    <textarea id="bodytext">{{ solution }}</textarea>
</div>
<div id="submitdiv" class="submitpart">
    <h3>更多题解</h3>
    {% if suggested %}
        <table>
            {% for solution in suggested %}
                <tr>
                    <td>{{ solution.title }}</td>
                    <td>by {{ find_user(solution.user).name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>暂无</p>
    {% endif %}
</div>
<script src="/static/md-render.js"></script>
{% endblock %}
