{% extends "base.html" %}
{% from "includes/problabels.html" import problabels_sidebar %}
{% from "includes/users.html" import user_sidebar %}
{% from "includes/sidebar.html" import return2post, delete_solution %}

{% block title %}
{% if editmode %}编辑{% else %}上传{% endif %}题解 - MathProbs
{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='md-preview.css') }}">
<script src="{{ url_for('static', filename='md-render.js') }}"></script>
<script src="{{ url_for('static', filename='edit-solution.js') }}"></script>
{% endblock %}

{% block navbar_title %}
{{ prob.probno }} — {% if editmode %}编辑{% else %}上传{% endif %}题解
{% endblock %}

{% block body %}
<aside>
    {{- return2post(prob, "返回题目") -}}
    {%- if editmode -%}{{- return2post(solution, "返回题解") -}}{{- delete_solution(solution) -}}{%- endif -%}
    {{- problabels_sidebar(prob) -}}
    <h3>题目来源</h3>{{- user_sidebar(prob.source) -}}
</aside>
<article class="body-article form-container">
    <form class="form-base" id="editForm" enctype="multipart/form-data">
        <input type="hidden" name="probno" id="probNo" value="{{ prob.probno }}">
        {%- if editmode -%}
            <input type="hidden" name="solno" id="solNo" value="{{ solution.solno }}">
        {%- endif -%}
        <span>
            <label for="solTitle">标题：</label>
            <input required type="text" id="solTitle" name="soltitle"
                autocomplete="off" spellcheck="false"
                {%- if editmode -%}value="{{ solution.title }}"{%- endif -%}>
        </span>
        <span>
            <label for="solution">内容：</label>
            <textarea id="solution" name="solution" class="tall"
                placeholder="以Markdown格式输入题解" spellcheck="false" required>
                {%- if editmode -%}{{ solution.content }}{%- endif -%}
            </textarea>
        </span>
        <span>
            <label for="imageFiles">{% if editmode %}更多{% endif %}图片：</label>
            <input type="file" id="imageFiles" name="imgfiles"
                formenctype="multipart/form-data" accept="image/*" multiple>
        </span>
        <span>
            <button type="button" id="mdPreviewButton" onclick="renderElement(
                mdPreview, solution.value, 'block', markdownImageBasePath);">预览</button>
            {%- if editmode -%}
                <button type="button" onclick="editSolution();">上传</button>
            {%- else -%}
                <button type="button" onclick="uploadSolution();">上传</button>
            {%- endif -%}
        </span>
    </form>
</article>
<article class="right-side-article">
    <h3>预览区</h3>
    <div class="markdown-body markdown-preview-block" id="mdPreview"></div>
    <p class="tips">
        <a target="_blank" href="{{ url_for('helps', howto='upload-probs-and-solutions') }}">
            <i class="fas fa-circle-info"></i> 有关上传题解的帮助……
        </a><br>
        <a target="_blank" href="{{ url_for('helps', howto='write-markdown') }}">
            <i class="fas fa-circle-info"></i> 有关编写 Markdown 的帮助……
        </a>
    </p>
</article>
<script>
    {%- if editmode -%}
        const markdownImageBasePath = {{ (
            "/images/1/" + solution.get_post_ident()|urlencode + "/")|tojson }};
    {%- else -%}
        const markdownImageBasePath = '';
    {%- endif -%}
    document.getElementById('mdPreviewButton').click();
</script>
{% endblock %}
