{% extends "base.html" %}
{% from "includes/problabels.html" import problabels_sidebar %}
{% from "includes/users.html" import user_sidebar %}
{% from "includes/sidebar.html" import return2post, delete_solution %}

{% block title %}
{% if editmode %}编辑{% else %}上传{% endif %}题解 - MathProbs
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='md-preview.css') }}">
<script src="{{ url_for('static', filename='md-render.js') }}"></script>
{% endblock %}

{% block navbar_title %}
问题{{ prob.probno }} —— {% if editmode %}编辑{% else %}上传{% endif %}题解
{% endblock %}

{% block body %}
<div class="sidebar">
    {{ return2post(prob, "返回题目") }}
    {% if editmode %}
        {{ return2post(solution, "返回题解") }}
        {{ delete_solution(solution) }}
    {% endif %}
    {{ problabels_sidebar(prob) }}
    <h3 class="sidebar-title">题目来源</h3>{{ user_sidebar(prob.source) }}
</div>
<div class="bodypart">
    <h3>{% if editmode %}编辑{% else %}上传{% endif %}题解</h3>
    <form class="mathprobsform" method="post" action="
            {%- if editmode -%}{{ url_for('edit_solution',
                probno=prob.probno, solno=solution.solno) }}{%- else -%}
            {{ url_for('upload_solution', probno=prob.probno) }}{%- endif -%}"
            enctype="multipart/form-data">
        {% if error %}<p class="errormsg">错误：{{ error }}</p>{% endif %}
        <span>
            <label for="soltitle">标题：</label>
            <input required type="text" id="soltitle" name="soltitle"
                autocomplete="off" spellcheck="false"
                {%- if editmode -%}value="{{ solution.title }}"
                {%- elif soltitle -%}value="{{ soltitle }}"{%- endif -%}>
        </span>
        <span>
            <label for="solution">内容：</label>
            <textarea id="solution" name="solution"
                placeholder="以Markdown格式输入题解" spellcheck="false"
                required>{%- if editmode -%}
                {{ solution.content }}
                {%- elif content -%}{{ content }}{%- endif -%}</textarea>
        </span>
        <span>
            <label for="imgfiles">{% if editmode %}更多{% endif %}图片：</label>
            <input type="file" id="imgfiles" name="imgfiles"
                formenctype="multipart/form-data" accept="image/*" multiple>
        </span>
        <span>
            <button type="button" onclick="renderElement(
                mdpreview, solution.value, 'block');">预览</button>
            <button type="submit">上传</button>
        </span>
    </form>
</div>
<div class="submitpart">
    <h3>预览区</h3>
    <div class="markdown-body mdpreview" id="mdpreview"></div>
    <p class="helpslink">
        <a target="_blank"
            href="{{ url_for('helps', howto='upload-probs-and-solutions') }}">
            <i class="fa-solid fa-circle-info"></i> 有关上传题目的帮助……
        </a><br>
        <a target="_blank"
            href="{{ url_for('helps', howto='write-markdown') }}">
            <i class="fa-solid fa-circle-info"></i> 有关编写 Markdown 的帮助……
        </a>
    </p>
</div>
<script>renderElements([helps]);</script>
{% endblock %}
