{% extends "base.html" %}
{% from "includes/problabels.html" import problabels_sidebar %}
{% from "includes/sidebar.html" import return2post, delete_prob %}

{% block title %}
{% if editmode %}编辑{% else %}上传{% endif %}题目 - MathProbs
{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='md-preview.css') }}">
<script src="{{ url_for('static', filename='md-render.js') }}"></script>
<script src="{{ url_for('static', filename='edit-prob.js') }}"></script>
{%- if editmode -%}
    <script src="{{ url_for('static', filename='prob-utils.js') }}"></script>
{%- endif -%}
{% endblock %}

{% block navbar_title %}
{%- if editmode -%}编辑{%- else -%}上传{%- endif -%}题目
{% endblock %}

{% block body %}
<div class="sidebar">
    <h3 class="sidebar-title">
        {%- if editmode -%}编辑{%- else -%}上传{%- endif -%}题目
    </h3>
    {%- if editmode -%}
        {{- return2post(prob, "返回题目") -}}
        {{- delete_prob(prob) -}}{{- problabels_sidebar(prob) -}}
    {%- endif -%}
</div>
<div class="bodypart">
    <h3>{% if editmode %}编辑{% else %}上传{% endif %}题目</h3>
    <form class="mathprobsform" id="editForm" enctype="multipart/form-data">
        {%- if not editmode -%}
            <span>
                <label for="probNo">编号：</label>
                <input required type="text" id="probNo" name="probno"
                    autocomplete="off" spellcheck="false">
            </span>
        {%- else -%}
            <input type="hidden" id="probNo" name="probno"
                value="{{ prob.probno }}">
        {%- endif -%}
        <span>
            <label for="probTitle">名称：</label>
            <input required type="text" id="probTitle" name="probtitle"
                autocomplete="off" spellcheck="false"
                {%- if editmode -%}value="{{ prob.probtitle }}"{%- endif -%}>
        </span>
        <span>
            <label for="probLabel">标签：</label>
            <div class="label-input" id="labelArea"></div>
            <input type="text" id="probLabel" name="problabel"
                autocomplete="off" spellcheck="false"
                placeholder="输入题目标签，按回车键添加">
        </span>
        <span>
            <label for="statement">描述：</label>
            <textarea id="statement" name="statement" spellcheck="false"
                placeholder="以Markdown格式输入题面" class="tall" required>
                {%- if editmode -%}{{ prob.statement }}{%- endif -%}
            </textarea>
        </span>
        <span>
            <label for="answerInputElement">答案：</label>
            <div class="answer">
                <div class="answer-input">
                    <input type="text" id="contextInputElement" name="context"
                        autocomplete="off" spellcheck="false"
                        placeholder="以JSON格式输入各变量，可置空">
                    <input type="text" id="answerInputElement" name="answer"
                        autocomplete="off" spellcheck="false"
                        placeholder="输入答案">
                    <i class="fa-solid fa-circle-plus" onclick="addAnswerHTML(
                        contextInputElement, answerInputElement)"></i>
                </div>
                <ul id="answerListElement"></ul>
            </div>
        </span>
        <span>
            <label for="imageFiles">{%- if editmode -%}更多{%- endif -%}图片：</label>
            <input type="file" id="imageFiles" name="imgfiles"
                formenctype="multipart/form-data" accept="image/*" multiple>
        </span>
        <span>
            {%- if not editmode and current_user.isadmin -%}
                <label for="addToOfficial">加入到官方题目？</label>
                <input type="checkbox" name="isofficial" id="addToOfficial"
                {%- if isofficial %}checked{% endif %}>
            {%- endif -%}
        </span>
        <span>
            <button type="button" onclick="renderElement(
                mdPreview, statement.value, 'block')">预览</button>
            {%- if editmode -%}
                <button type="button" onclick="editProb()">上传</button>
            {%- else -%}
                <button type="button" onclick="uploadProb()">上传</button>
            {%- endif -%}
        </span>
    </form>
</div>
<div class="submitpart">
    <h3>预览区</h3>
    <div class="markdown-body mdpreview" id="mdPreview"></div>
    <p class="helpslink">
        <a target="_blank" href="{{ url_for('helps', howto='upload-probs-and-solutions') }}">
            <i class="fa-solid fa-circle-info"></i> 有关上传题目的帮助……
        </a><br>
        <a target="_blank" href="{{ url_for('helps', howto='write-markdown') }}">
            <i class="fa-solid fa-circle-info"></i> 有关编写 Markdown 的帮助……
        </a>
    </p>
</div>
<script>
    probLabel.addEventListener('keydown', addLabel);
    {%- if editmode -%}
        addRawAnswers({{ prob.get_answer() | list | tojson }});
        addRawLabels({{ prob.as_labelnames() | list | tojson }});
    {%- endif -%}
</script>
{% endblock %}
