{% extends "base.html" %}
{% from "includes/problabels.html" import problabels_sidebar %}
{% from "includes/sidebar.html" import return2post, delete_prob %}

{% block title %}
{% if editmode %}编辑{% else %}上传{% endif %}题目 - MathProbs
{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='md-preview.css') }}">
<script src="{{ url_for('static', filename='md-render.js') }}"></script>
<script src="{{ url_for('static', filename='edit-prob.js') }}"></script>
{%- if editmode -%}
    <script src="{{ url_for('static', filename='prob-utils.js') }}"></script>
{%- endif -%}
{% endblock %}

{% block navbar_title %}
{%- if editmode -%}编辑{%- else -%}上传{%- endif -%}题目
{% endblock %}

{% block body %}
<aside>
    <h3>{%- if editmode -%}编辑{%- else -%}上传{%- endif -%}题目</h3>
    {%- if editmode -%}
        {{- return2post(prob, "返回题目") -}}
        {{- delete_prob(prob) -}}{{- problabels_sidebar(prob) -}}
    {%- endif -%}
</aside>
<article class="body-article">
    <h3>{% if editmode %}编辑{% else %}上传{% endif %}题目</h3>
    <form class="form-container" id="editForm" enctype="multipart/form-data">
        <span>
            <label for="probNo">编号：</label>
            {%- if not editmode -%}
                <input type="text" id="probNo" name="probno"
                    autocomplete="off" spellcheck="false" required>
            {%- else -%}
                <input type="text" class="disabled" id="probNo" name="probno"
                    value="{{ prob.probno }}" readonly>
            {%- endif -%}
        </span>
        <span>
            <label for="probTitle">名称：</label>
            <input required type="text" id="probTitle" name="probtitle" autocomplete="off"
                spellcheck="false" {%- if editmode -%}value="{{ prob.probtitle }}"{%- endif -%}>
        </span>
        <span>
            <label for="probLabel">标签：</label>
            <div class="label-input" id="labelArea"></div>
            <input type="text" id="probLabel" name="problabel" autocomplete="off"
                spellcheck="false" placeholder="输入题目标签，按回车键添加">
        </span>
        <span>
            <label for="statement">描述：</label>
            <textarea id="statement" name="statement" spellcheck="false"
                placeholder="以Markdown格式输入题面" class="tall" required>
                {%- if editmode -%}{{ prob.statement }}{%- endif -%}
            </textarea>
        </span>
        <span>
            <label for="answerInputElement">答案：</label>
            <div class="answer">
                <div class="answer-input">
                    <input type="text" id="contextInputElement" name="context"
                        autocomplete="off" spellcheck="false" placeholder="以JSON格式输入各变量或置空">
                    <input type="text" id="answerInputElement" name="answer"
                        autocomplete="off" spellcheck="false" placeholder="输入答案">
                    <i class="fa-solid fa-circle-plus"
                        onclick="addAnswerHTML(contextInputElement, answerInputElement)"></i>
                    <i class="fa-solid fa-square-plus" title="添加小题" onclick="addSubprob()"></i>
                </div>
                <ul id="answerListElement"></ul>
            </div>
        </span>
        <span>
            <label for="imageFiles">{%- if editmode -%}更多{%- endif -%}图片：</label>
            <input type="file" id="imageFiles" name="imgfiles"
                formenctype="multipart/form-data" accept="image/*" multiple>
        </span>
        <span>
            {%- if not editmode and current_user.isadmin -%}
                <label for="addToOfficial">加入到官方题目？</label>
                <input type="checkbox" name="isofficial"
                    id="addToOfficial" {%- if isofficial -%}checked{%- endif -%}>
            {%- endif -%}
        </span>
        <span>
            <button type="button" onclick="renderElement(
                mdPreview, statement.value, 'block', markdownImageBasePath)">预览</button>
            {%- if editmode -%}<button type="button" onclick="editProb()">上传</button>
            {%- else -%}<button type="button" onclick="uploadProb()">上传</button>{%- endif -%}
        </span>
    </form>
</article>
<article class="right-side-article">
    <h3>预览区</h3>
    <div class="markdown-body markdown-preview-block" id="mdPreview"></div>
    <p class="tips">
        <a target="_blank" href="{{ url_for('helps', howto='upload-probs-and-solutions') }}">
            <i class="fa-solid fa-circle-info"></i> 有关上传题目的帮助……
        </a><br>
        <a target="_blank" href="{{ url_for('helps', howto='write-markdown') }}">
            <i class="fa-solid fa-circle-info"></i> 有关编写 Markdown 的帮助……
        </a>
    </p>
</article>
<script>
    probLabel.addEventListener('keydown', addLabel);
    {%- if editmode -%}
        const markdownImageBasePath = "/images/{{ prob.probno|urlencode }}/";
        document.addEventListener('DOMContentLoaded', () => {
            addRawAnswers({{ prob.get_answer()|list|tojson }});
            addRawLabels({{ prob.as_labelnames()|list|tojson }});
        });
    {%- endif -%}
</script>
{% endblock %}
