{% extends "base.html" %}
{% from "includes/users.html" import user_gender %}
{% from "includes/problist.html" import problist %}
{% from "includes/solutionlist.html" import solutionlist %}

{%- macro user_name(user) -%}
    {% if current_user == user %}我{% else %}{{ user.name }}{% endif %}
{%- endmacro -%}

{% block title %}{{ user_name(user) }}的主页 - MathProbs{% endblock %}

{% block static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='problist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}">
<script src="{{ url_for('static', filename='user-utils.js') }}"></script>
<script src="{{ url_for('static', filename='md-render.js') }}"></script>
{% endblock %}

{% block navbar_title %}
{{- user_avatar_img(user) -}}{{- user_gender(user) -}}
{%- if user.isadmin -%}<i class="admin fa-solid fa-user-tie"></i>{%- endif -%}
{{- user_name(user) }}的主页
{% endblock %}

{% block body %}
<aside>
    <h3>欢迎来到MathProbsOnline</h3>
    {%- if current_user == user -%}
        <a class="sidebar-link" href="{{ url_for('upload_prob') }}">
            <div class="sidebar-item">
                <i class="fa-solid fa-cloud-arrow-up"></i>上传题目
            </div>
        </a>
        <a class="sidebar-link" target="_blank" href="{{ url_for('edit_profile') }}">
            <div class="sidebar-item">
                <i class="fa-solid fa-user-pen"></i>修改信息
            </div>
        </a>
        <a class="sidebar-link" href="javascript:void(0)"
                onclick="userLogout(); return false">
            <div class="sidebar-item">
                <i class="fa-solid fa-right-from-bracket"></i>退出登录
            </div>
        </a>
        <a class="sidebar-link" href="javascript:void(0)"
                onclick="userUnregister(); return false">
            <div class="sidebar-item">
                <i class="fa-solid fa-person-circle-minus"></i>注销账户
            </div>
        </a>
    {%- else -%}
        <a class="sidebar-link" href="{{ url_for('chat', activeuid=user.uid) }}">
            <div class="sidebar-item">
                <i class="fa-solid fa-comments"></i>私信聊天
            </div>
        </a>
    {%- endif -%}
</aside>
<article class="bodypart">
    <h3>{{ user_name(user) }}的贡献</h3>
    <h4>{{ user_name(user) }}通过的题目</h4>
    {%- set passedprobs = user.get_passedprobs() -%}
    {%- if passedprobs -%}
        {{- problist(passedprobs, with_source=False) -}}
    {%- else -%}<p>暂无</p>{%- endif -%}
    <h4>{{ user_name(user) }}上传的题目</h4>
    {%- set uploadedprobs = user.uploadedprobs.copy() -%}
    {%- if uploadedprobs -%}
        {%- do uploadedprobs.sort() -%}
        {{- problist(uploadedprobs,
            with_source=False, with_review_status=True) -}}
    {%- else -%}<p>暂无</p>{%- endif -%}
</article>
<article class="submitpart">
    {%- if user == current_user -%}
        <h3>{{ user_name(user) }}的简介</h3>
        <form class="mathprobsform">
            <span>
                <textarea id="introduction" name="introduction"
                    class="submittext" spellcheck="false"
                    placeholder="简要介绍你自己，以 Markdown 格式">
                    {%- if user.introduction -%}{{ user.introduction }}{%- endif -%}
                </textarea>
            </span>
            <span>
                <button id="editIntroductionButton"
                    class="submitbutton" type="button">修改</button>
            </span>
        </form>
    {%- elif user.introduction -%}
        <h3>{{ user_name(user) }}的简介</h3>
        <div id="userIntroduction" class="markdown-body">
            <textarea>{{ user.introduction }}</textarea>
        </div>
    {%- endif -%}
    <h3>{{ user_name(user) }}的文章</h3>
    <h4>{{ user_name(user) }}上传的题解</h4>
    {%- set solutions = user.solutions.copy() -%}
    {%- if solutions -%}
        {%- do solutions.sort() -%}{{- solutionlist(solutions,
            with_head=True, with_probno=True, with_user=False) -}}
    {%- else -%}<p>暂无</p>{%- endif -%}
</article>
{%- if user == current_user -%}
    <script>
        editIntroductionButton.addEventListener('click', async (event) => {
            try {
                const response = await fetch('/api/user/edit-introduction', {
                    method: 'POST', headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({introduction: introduction.value})});
                const data = await response.json();
                if (data.ok) alert('修改成功');
                else alert(`修改失败：${data.error}`);
            } catch (err) { alert(`修改失败：${err}`); }
        });
    </script>
{% endif %}
{%- if user != current_user -%}
    <script>renderElements([userIntroduction]);</script>
{%- endif -%}
{% endblock %}
