{% extends "base.html" %}

{% block title %}欢迎{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/sidebar.css">
<link rel="stylesheet" type="text/css" href="/static/blocks.css">
<link rel="stylesheet" type="text/css" href="/static/problist.css">
{% endblock %}

{% block navbar_title %}我的主页{% endblock %}

{% block body %}
<div class="sidebar">
    <h3 class="sidebar-title">欢迎来到MathProbsOnline</h3>
    <a class="sidebar-link" href="{{ url_for('edit_profile') }}">
        <div class="sidebar-item">修改简介</div>
    </a>
</div>
<div class="mainpart">
    <h3>我通过的题目</h3>
    {% set passedprobs = jsonloads(current_user.passedprobs) %}
    {% if passedprobs %}
        {% if passedprobs.sort() %}{% endif %}
        <table class="problist">
            <tr class="probhead">
                <th>编号</th><th>名称</th><th>标签</th>
            </tr>
            {% for probno in passedprobs %}
                {% set prob = get_prob(probno) %}
                <tr onclick="location.href
                        = '{{ url_for('probs', probno=probno) }}'">
                    <td class="probno">{{ probno }}</td>
                    <td>{{ prob.probtitle }}</td>
                    <td class="problabels">
                        {% for problabel in jsonloads(prob.problabels) %}
                            <a class="problabel" href="{{ url_for(
                                'problistoflabel', labelname=problabel) }}">
                                {{ problabel }}
                            </a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}<p>暂无</p>{% endif %}
    <h3>我贡献的题目</h3>
</div>
{% endblock %}
